iota-vala.h
iota-vala.vapi
libiota.c
crypto/converter.c
crypto/curl.c
api/api.c
testsuites/test_converter/test_converter.c
extra/test_app/test_app.c
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
test-driver
builds
*.o
*.lo
*.la
.deps
.libs
*.stamp
*.stamp-t
*~
.anjuta/
.anjuta_sym_db.db
iota.lib.vala.anjuta

